body {
  margin: 0;
  padding: 0;
  background: rgb(227, 245, 202);
}
.triangle {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.triangle .blue {
  position: relative;
}
.triangle .blue:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 100vh solid blue;
  border-right: 100vw solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.triangle .red {
  position: relative;
}
.triangle .red:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 100vh solid red;
  border-left: 100vw solid transparent;
  position: absolute;
  top: 0;
  right: -15%;
}

.white-box-wrap {
  position: absolute;
  width: 90px;
  height: 40px;
  background: #fff;
  border-left: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.white-box {
  width: 200px;
  height: 40px;
  transform: skew(20deg);
  background: #fff;
  border: 1px solid #9b9b9b;
  border-left: 0;
  box-sizing: border-box;
  margin-left: 7px;
}
