/* 
  Responsive SCSS Module
  v1.0.0 | 20181220
  License: MIT (public domain)
  author: JeromeBaek
*/

// Extra Extra Samll smartphones
$screen-xxs-max: 320px;

// Extra Samll smartphones
$screen-xs-max: 480px;

// Samll smartphones
$screen-sm-max: 600px;

// Small tablets
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Extra Extra desktops
$screen-xxl-max: 1440px;

// Extra Extra Samll devices 320px
@mixin xxs {
  @media (max-width: #{$screen-xxs-max}) {
    @content;
  }
}
// @include xxs {
//   font-size: 20px;
// }

// Small devices 480px
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}
// @include xs {
//   font-size: 20px;
// }

// Small devices 600px
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
// @include sm {
//   font-size: 20px;
// }

// Medium devices 768px
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
// @include md {
//   font-size: 20px;
// }

// Large devices 992px
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}
// @include lg {
//   font-size: 20px;
// }

// Extra large devices 1200px
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
// @include xl {
//   font-size: 20px;
// }

// Extra Extra large devices 1440px
@mixin xxl {
  @media (min-width: #{$screen-xl-max}) {
    @content;
  }
}
// @include xxl {
//   font-size: 20px;
// }

// Custom devices
@mixin rwd($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}
