/* 
  PPCWIZ Mixin Style
  v1.0.0 | 20181220 - JeromeBaek
*/

/* container */
@mixin inline-center($fontSize) {
  text-align: center;
  line-height: $fontSize;
}

@mixin box-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin card-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  z-index: 1;
}

/* buttons */
@mixin wiz-white-btn {
  width: 95px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 #acb2c1;
  background: #e4e4e4;
  font-size: 14px;
  color: #686868;
  transition: all 0.3s ease;
  cursor: pointer;
}
@mixin wiz-white-btn-hover {
  background: #f7f7f7;
  box-shadow: none;
}

@mixin wiz-blue-btn {
  width: 95px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 #acb2c1;
  background: #3a84ff;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
@mixin wiz-blue-btn-hover {
  background: #93bafd;
  box-shadow: none;
}


/* background color */
/* border color */