/* FORM */
.form-wrapper {
  margin-top: 2rem;
}
form {
  display: flex;
  flex-wrap: wrap;
}
form label {
  min-width: 100%;
  margin: 0 0.5rem 0.5rem;
  font-size: 1.1rem;
}
form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  border-radius: 4px;
}
form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease-out;
}
form button:hover {
  background: #ff8888;
}
form input:focus,
form button:focus {
  outline: none;
}

form input,
form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}