.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  border-radius: 4px;
}

td, th {
  padding: .5rem;
}

th {
  background-color: #000;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}

td {
  white-space: nowrap;
  color: rgb(20, 20, 20);
}

tbody tr {
  cursor: pointer;
  border-top: none;
}
tbody tr:hover {
  background: #e6f7ff
}




/*----------------*/

.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
  list-style: none;
}

.label--radio {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}
.radio-group {
  
}
.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.radio:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #16a085;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  /* border: 2px solid #f2f2f2; */
  border: 2px solid #16a085;
  border-radius: 50%;
}
.arrow {
  position: relative;
}
.arrow:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid red;
  height: 10px;
  width: 50px;
}
.arrow:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 50px;
  border-top: 20px solid transparent;
  border-left: 40px solid red;
  border-bottom: 20px solid transparent;
}